$background-color: #213547;

.projects {
    color: #213547;

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-family: 'Georgia', sans-serif;
    }

    &-container {
        background-color: $background-color;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}