$border-color: lightskyblue;
$background-color: lightblue;
$background-color2: rgb(132, 136, 135);
$background-color-animation: rgb(52, 54, 54);

.project-card {
    display: flex;
    gap: 40px;

    border-radius: 12px;
    padding: 1.5rem;
    border: 6px solid $border-color;
    margin-left: 30%;
    margin-right: 20%;
    background-color: $background-color;
    
    &__cover-image {
        width: 600px;
        height: 500px;
        object-fit: cover;

        border-radius: 20px;
        filter: brightness(80%);
        display: block;
    }

    &__description {
        font-family: 'Georgia', serif;
        border-radius: 20px;
        background-color: $background-color2;
        color:bisque;

        &-title,
        &-name {
            text-align: center;
        }

        &-paragraph {
            margin-left: 20px;
        }

        &-skill {
            transition: transform 600ms;
            &:hover {
                transform: scale(1.1);
                background-color: $background-color-animation;
            }
            
        }

        &-skills-container {
            display: flex;
            gap: 20px;
            margin-left: 20px;
        }

        &-live {
            display: flex;
            margin: 10px;
            gap: 30px;
        }
    }


}