.skills {
    background-color: white;
    margin: 1%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-dev,
    &-utils,
    &-knows {
        display: flex;
        align-items: center;
        gap: 20px;

        width: 50%;
        max-width: 1200px;
        width: min(90%, 1100px);
        margin: 0 auto;
        padding-right: 20px;

        background-color: lightskyblue;
        &__title {
            background-color: white;
            flex-shrink: 0;
        }
    }
}