$border-color: darkblue;

.skill {
    display: flex;
    gap: 10px;
    padding: 10px;

    border: 4px solid $border-color;
    border-radius: 12px;
    &-image {
      width: 40px;
      height: auto;
      flex-shrink: 0;
    }
    &-name {
        min-width: 0;
        overflow-wrap: anywhere;
        font-weight: bold;
        white-space: pre-line;
    }
}